[v-cloak] {
  display: none;
}

.font-size-inherit {
  font-size: inherit;
}

.line-height-normal {
  line-height: 1;
}

.table-row-counter {
  counter-reset: row-num;

  tbody tr {
    counter-increment: row-num;

    th:first-child:before,
    td:first-child:before {
      content: counter(row-num);
      font-weight: bold;
    }
  }
}
