[v-cloak] {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-inherit {
  font-size: inherit;
}

.line-height-normal {
  line-height: 1;
}

.resize-none {
  resize: none;
}

.table-row-counter {
  counter-reset: row-num;

  tbody tr {
    counter-increment: row-num;

    th:first-child:before,
    td:first-child:before {
      content: counter(row-num);
      font-weight: bold;
    }
  }
}

.vh-max-35 {
  max-height: 35vh;
}

@include media-breakpoint-up(md) {
  .w-md-auto {
    width: auto !important;
  }
}

@include media-breakpoint-up(xl) {
  .border-xl-left {
    border-left: 1px solid $gray-300;
  }

  .border-xl-left-2 {
    border-left-width: 2px;
  }

  .border-xl-top-0 {
    border-top-width: 0 !important;
  }
}
