$path-to-fonts: "../../fonts" !default;
$path-to-img: "../../img" !default;

// Colors system
$blue: #0193fe;
$black: #1d2c3c;
$gray-200: #d2ddec;
$gray-400: #d2ddec;

$primary: #704895;
$secondary: #f3a3b4;
$info: #bbdff7;

// Custom color system
$blue-solid: #1b5b9a;
$white-ghost: #f6f7fb;

// Navs
$font-family-sans-serif: "Cerebri Sans", sans-serif;
$font-family-headng: "Oxygen", sans-serif;

// Nav bar
$navbar-dark-color: $gray-400;

// Text
$text-muted: #b0b0b1;

// Fonts
$font-size-sm: 0.875rem; //14px

// Modals
$modal-sm: 400px;

// Forms
$input-disabled-bg: $white-ghost;
