// Bootstrap functions
@import ".~bootstrap/scss/functions";

// Custom variables
@import "abstracts/variables";

// Dashkit variables
@import "themes/dashkit/variables";

// Bootstrap core
@import ".~bootstrap/scss/bootstrap";

// Abstracts
@import "abstracts/animation";
@import "abstracts/helpers";

// Layout
@import "layout/navbar";
@import "layout/footer";

// Components
@import "components/features";
@import "components/hero";
@import "components/how-it-works";
@import "components/plan-item";
@import "components/testimonial";

// Pages
@import "pages/checkout";

// Themes
@import "themes/dashkit/dashkit";

// Vendor Extensions
@import "vendor_extensions/stripe-element";

@import "~ladda/dist/ladda-themeless.min";
@import "~select2/dist/css/select2.min.css";
