.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  min-height: 28.75rem;
  padding-top: 3.8125rem;
}

.getfancy-section {
  padding-bottom: 3rem;
  padding-top: 5rem;
}
