#plans {
  .plan-wrapper {
    height: 4.375rem;
    position: relative;

    .plan-item {
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-55%);
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
      visibility: hidden;
      z-index: -1;
    }

    .plan-item.active {
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
  }

  .btn-group button {
    box-shadow: none;
    color: inherit;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;

    &.active {
      background-color: $primary;
      border-color: darken($primary, 7.5%);
      color: $white;
      cursor: default;
    }
  }
}
