.plan-item {
  .list-group-item {
    font-size: 0.8125em;
    padding-left: 0;
  }

  .plan-price {
    color: #1c8ae1;
    font-weight: bold;

    .plan-price-sign {
      font-size: 1.875em;
      margin-right: -0.3125rem;
    }

    .plan-price-amount {
      font-size: 3.125em;
    }

    .plan-price-time {
      color: rgba(#000, 0.5);
      font-size: 0.9375em;
      font-weight: lighter;
    }
  }
}
