#testimonial {
  background-color: #1b2e4e;

  .blockquote {
    line-height: 1.2;
    font-weight: bold;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  .blockquote-footer {
    color: inherit;
    font-weight: lighter;
    opacity: 0.8;

    &:before {
      content: "";
    }
  }
}
