option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
container_commands:
  01_composer_install:
    command: "php /opt/elasticbeanstalk/support/composer.phar install --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/ondeck"
  02_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
  03_config_clear:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"