option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
files:
  /etc/httpd/conf.d/http-redirect.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      RewriteCond %{HTTP:X-Forwarded-Proto} !https
      RewriteCond %{HTTP_USER_AGENT} !ELB-HealthChecker
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_node.sh:
    mode: "000755"
    owner: root
    group: root
    content: 
      #!/bin/bash
      cd /var/app/current
      curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  
      nvm install 8.6.0
commands:
  01_npm_install:
    command: "npm install"
    test: '[ "$APP_ENV" == "production" ]'
  02_npm_run_prod:
    command: "npm run production"
    test: '[ "$APP_ENV" == "production" ]'
container_commands:
  01_composer_install:
    command: "php /opt/elasticbeanstalk/support/composer.phar install --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/ondeck"
  02_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
  03_config_clear:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"