// Bootstrap functions
@import ".~bootstrap/scss/functions";

// Custom variables
@import "abstracts/variables";

// Dashkit variables
@import "themes/dashkit/variables";

// Bootstrap core
@import ".~bootstrap/scss/bootstrap";

// Themes
@import "themes/dashkit/dashkit";

// Abstract
@import "abstracts/helpers";

// Components
@import "components/custom-control";
@import "components/form-wizard";
@import "components/navbar-vertical";

// Pages
@import "pages/did-settings";

// Vendor Extensions
@import "vendor_extensions/vue-timepicker";
@import "~ladda/dist/ladda-themeless.min";
@import "~select2/dist/css/select2.min";
@import "~flatpickr/dist/flatpickr.min";
@import '~vue2-timepicker/dist/VueTimepicker';

@import "../web/vendor_extensions/stripe-element";
@import "../../fonts/feather/feather.css";
