.footer {
  background-color: #262f36;
  padding: 3rem 0 .2rem;

  .form-control {
    background-color: #3b4248;
    color: $white;

    &::placeholder {
      color: #ddd !important;
    }

    &::-webkit-input-placeholder {
      color: #ddd !important;
    }

    &::-moz-placeholder {
      color: #ddd !important;
    }

    &:-ms-input-placeholder {
      color: #ddd !important;
    }

    &:-moz-placeholder {
      color: #ddd !important;
    }
  }
}
