.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
}

.skew-section-primary {
  height: 57.5rem;
  left: 0;
  position: absolute;
  right: 0;

  &:after {
    background: $primary;
    content: "";
    height: 100%;
    position: absolute;
    top: -50%;
    transform: skewY(-12deg);
    width: 100%;
    z-index: -1;
  }
}

.bg-white-ghost {
  background-color: $white-ghost !important;
}

.border-sm-top {
  @include media-breakpoint-up(sm) {
    border-top: 1px solid $gray-300 !important;
  }
}

.border-white-50 {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.blockquote-fancy {
  line-height: 1.2;

  .blockquote-footer {
    font-size: 1rem;

    &:before {
      content: "";
    }
  }
}

.display-md-3 {
  @include media-breakpoint-up(md) {
    font-size: $display3-size;
  }
}

.fancy-section {
  padding-bottom: 5rem;
  padding-top: 5.5rem;
}

.fill-body {
  fill: $body-bg;
}

.fill-blue-solid {
  fill: $blue-solid;
}

.fill-primary {
  fill: $primary;
}

.font-heading {
  font-family: $font-family-headng;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 3.75rem;
}

.h-65 {
  height: 65%;
}

.h-sm-100 {
  @include media-breakpoint-up(sm) {
    height: 100%;
  }
}

.img-shadow {
  position: relative;

  &:before {
    background-color: rgba(#000, 0.7);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.line-height-md {
  line-height: $line-height-md;
}

.pull-left {
  left: 0;
}

.pull-right-auto {
  right: auto;
}

.pull-top {
  top: 0;
}

.pull-bottom {
  bottom: 0;
}

.text-blue-solid {
  color: $blue-solid;
}

.top-1 {
  top: 0.0625rem;
}

.w-50-gutter {
  width: 49%;
}

.w-60 {
  width: 60%;
}

.w-sm-50 {
  @include media-breakpoint-up(sm) {
    width: 50% !important;
  }
}

.w-lg-50 {
  @include media-breakpoint-up(lg) {
    width: 50% !important;
  }
}

.w-lg-75 {
  @include media-breakpoint-up(lg) {
    width: 75%;
  }
}
