.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
}

.skew-section-primary {
  height: 57.5rem;
  left: 0;
  position: absolute;
  right: 0;

  &:after {
    background: $primary;
    content: "";
    height: 100%;
    position: absolute;
    top: -50%;
    transform: skewY(-12deg);
    width: 100%;
    z-index: -1;
  }
}

.bg-white-ghost {
  background-color: $white-ghost !important;
}

.border-sm-top {
  @include media-breakpoint-up(sm) {
    border-top: 1px solid $gray-300 !important;
  }
}

.border-white-50 {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.blockquote-fancy {
  line-height: 1.2;

  .blockquote-footer {
    font-size: 1rem;

    &:before {
      content: "";
    }
  }
}

.text-blue-solid {
  color: $blue-solid;
}

.w-50-gutter {
  width: 49%;
}

.w-60 {
  width: 60%;
}
