.navbar {
  transition: background-color 0.3s;

  .fancy-logo {
    max-height: 3.5rem;
    width: 9.5rem;
  }

  .fancy-dark-logo {
    display: none;
  }
}

.nav-link {
  font-size: $h5-font-size;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    background-color: $primary;
    bottom: -0.125em;
    height: 0.125em;
    position: absolute;
    right: 0.625em;
    left: 0.625em;
    transition: bottom 0.3s;
  }

  &.active::after,
  &:hover:after {
    content: "";
    bottom: 0.3125em;
  }
}
