.navbar {
  transition: background-color .3s;

  .fancy-logo {
    max-height: 3.5rem;
    width: 9.5rem;
  }

  .fancy-dark-logo {
    display: none;
  }
}

.navbar.navbar-light {
  .fancy-logo {
    display: none;
  }

  .fancy-dark-logo {
    display: block;
  }
}

.nav-link {
  font-size: $h5-font-size;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    background-color: $primary;
    bottom: -.125em;
    height: .125em;
    position: absolute;
    right: .625em;
    left: .625em;
    transition: bottom .3s;
  }

  &.active::after,
  &:hover:after {
    content: "";
    bottom: .3125em;
  }
}
