.overflow-collapse {
  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }
}

.navbar-collapse {
  .close {
    color: $white;
    display: none;
    font-size: 4rem;
    opacity: 1;
    position: fixed;
    right: 1.875rem;
    top: 1.25rem;
  }

  @include media-breakpoint-down(sm) {
    background-color: rgba(#000, 0.85);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;

    &.collapsing {
      display: none;
      height: 100%;
      transition: none;

      -webkit-transition: none;
    }

    .close {
      display: block;
    }

    ul {
      margin: 0;
      position: fixed;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      .nav-item {
        padding-bottom: 1.5rem;
      }

      .nav-link {
        color: $white !important;
        display: inline-block;
        font-size: 1rem;
      }

      .nav-link:after {
        background-color: #fff;
      }

      .nav-link.active:before {
        content: none;
      }
    }
  }
}
