#did-settings {
  .input-group-time {
    width: 7.5rem;
  }

  .label-day {
    width: 2.1875rem;
  }

  .disabled-setting {
    opacity: 0.4;
    pointer-events: none;
  }

  .content-action-hover {
    .action {
      opacity: 0;
      visibility: hidden;
    }

    &:hover .action {
      opacity: 1;
      visibility: visible;
    }
  }
}
